<% title "Аурика Цуркан - президент федерации восточного танца(танца живота) Пензенской области" %>

<h1>Аурика Цуркан - президент федерации восточного танца(танца живота) Пензенской области</h1>

<div class="about_me">
  <p>Образование: Ташкентский Институт Культуры - Хореографическое отделение</p>
  <p>Профессиональная деятельность:</p>
  <p>"Планета фитнеса" - сертификация с правом преподавания "Танец живота", "Стилизованная хореография с элементами латиноамериканских танцев" </p>
  <p>Преподаватель Лиги Профессионалов Восточного Танца</p>
  <p>с 1996 - 2002гг работа в Шоу - Балете (Артист балета Арт-театр-студии "Алладин" г. Ташкент)</p>
  <p>с 1999 по 2002г руководитель шоу-балета "Фантом" (Южная Корея)</p>
  <p>с 2007 по настоящее время руководитель школы Восточного танца "Бахор" г.Пенза, а так же президент федерации танца живота Пензенской области</p>
</div>
<p><%= @sape.links.html_safe %></p>