<% title "Разновидности танцев" %>
<h1>Разновидности танцев</h1>
<p>
<h3>Саиди </h3>
Саиди - это танец с тростью. Он зародился в местности Египта под названием Саид, где жили пастухи и воины, которые использовали бамбуковые трости как оружие. Женщины же переродили эти воинственные движения в красивый энергичный танец.
</p>
<p>
<h3>Танец с платком</h3>
Это один из самых театральных танцев, требующий актерского мастерства. Платок - это и фон, чтобы подчеркнуть красоту тела и движения. Это и то, что скрывает, чтобы потом открыть.
Танцовщице очень важно почувствовать платок не как часть костюма, а как часть своего тела.

Существует множество видов и форм платков: малайа, заливский и другие.
</p>
<p>
<h3>Заливский танец (халиджи)</h3>
Этот танец исполняют народы стран Персидского залива. Халиджи - это невероятно тонкий, лиричный танец. Костюмы для этого танца открывают только часть лица и кисти рук. Основной шаг этого танца имитирует поездку на верблюде.
</p>
<p>
<h3>Танец с цимбалами</h3>
Цимбалы - это один из самых древних музыкальных инструментов в виде двух пар деревянных или металлических пластинок. Их звук танцовщица использует как музыкальное сопровождение к своему танцу.
</p>
<p>
<h3>Танец с саблей</h3>
Это довольно сложный танец. Говорят, что в древние времена, провожая своих мужей на войну, женщины несли на голове саблю - так произошел этот танец. А еще говорят, что танцуя с саблей, женщина демонстрирует свою непокорность…
</p>