<div class="news_content" style="background-color: #DADADA;padding: 40px;margin: 10px;">
  <h1>Расписание выступлений</h1>
  <p style="color:red;">Регистрация и оплата, на все номинации, проводиться 7-го мая с 9-00 до 11-00</p>
<table width="40%" >
  <thead>
  <tr>
    <td><h1>Номинация</h1></td>
    <td><h1>Начало</h1></td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Юниоры начинающие</td>
    <td> 10:00 </td>
  </tr>
  <tr>
    <td>Молодежь начинающие</td>
    <td> </td>
  </tr>
  <tr>
    <td>Молодежь продолжающие</td>
    <td> </td>
  </tr>
  <tr>
    <td>Любители начинающие 1 тур</td>
    <td> </td>
  </tr>
  <tr>
    <td>Синьоры начинающие</td>
    <td> &asymp; 11:00</td>
  </tr>
  <tr>
    <td>Любители продолжающие</td>
    <td> </td>
  </tr>
  <tr>
    <td>Награждение финал</td>
    <td> </td>
  </tr>
  <tr>
    <td>Группы классика</td>
    <td> &asymp; 12:00</td>
  </tr>
  <tr>
    <td>Кандидаты в профессионалы Классика</td>
    <td> </td>
  </tr>
  <tr>
    <td>Дебют</td>
    <td> </td>
  </tr>
  <tr>
    <td>Юниоры_молодёжь_фольклор</td>
    <td> </td>
  </tr>
  <tr>
    <td>Группы фольклор</td>
    <td> &asymp; 13:00</td>
  </tr>

  <tr>
    <td colspan="2"><h1>Перерыв с 13:20 до 14:00 </h1></td>
  </tr>

  <tr>
    <td>Кандидаты в профессионалы Фольклор</td>
    <td> &asymp; 14:00</td>
  </tr>
  <tr>
    <td>Любители начинающие финал</td>
    <td> </td>
  </tr>
  <tr>
    <td>Награждение финал</td>
    <td> </td>
  </tr>
  <tr>
    <td>Дуэты взрослые </td>
    <td> </td>
  </tr>
  <tr>
    <td>Формейшн</td>
    <td> </td>
  </tr>
  <tr>
    <td>Шоу белиданс СОЛО</td>
    <td> </td>
  </tr>
  <tr>
    <td>Малые группы</td>
    <td> &asymp; 16:00</td>
  </tr>
  <tr>
    <td>Фольклор взрослые</td>
    <td> </td>
  </tr>
  <tr>
    <td>Шоу белиданс ГРУППЫ</td>
    <td> </td>
  </tr>
  <tr>
    <td>Шоу трайбл</td>
    <td> </td>
  </tr>
  <tr>
    <td>Шоу трайбл ГРУППЫ</td>
    <td> </td>
  </tr>
  <tr>
    <td>Награждение финал</td>
    <td> &asymp; 17:30</td>
  </tr>

  </tbody>

  </table>
</div>