<div class="news_content" style="background-color: #DADADA;padding: 40px;margin: 10px;">
  <h1>Проживание для иногородних</h1>
  <p>
    Бронирование мест производиться не позднее чем за 1 неделю до проведения мероприятия
  </p>
  <p>Обязательно указать ФИО, город из которого вы приезжаете, мобильный телефон для обратной связи. Количество приезжающих
    человек, время и дату прибытия(время московское) и кол-во суток прибывания в гостиннице.
  </p>

  <p>Телефоны для самостоятельного бронирования</p>
  <p>8(8412)43-48-44 ул Бородина 23, 550р с человека</p>
  <p>8(8412)49-49-96 Гагарина 28, т\к "Кагау" 3-й этаж 1300р с человека в сутки(находиться в 50-ти метрах от места проведения мероприятия)</p>
  <p>Адрес места проведения: г.Пенза, ул. Леонова, 1а Дворец культуры "40 лет октября"</p>
  <p>Проезд на такси от гостинницы до места проведения мероприятия от 130руб</p>
</div>