<div class="news_content" style="background-color: #DADADA;padding: 40px;margin: 10px;">
  <h1>Оплата за участие в конкурсе</h1>
<table width="80%">
  <thead>
  <tr>
    <td><h1>Название номинаций</h1></td>
    <td><h1>Начинающие</h1></td>
    <td><h1>Продолжающие</h1></td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><h1>Рейтинговые</h1></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Дети</td>
    <td>300р (с 1 чел)</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Молодежь</td>
    <td>400р (с 1 чел)</td>
    <td>400р (с 1 чел)</td>
  </tr>
  <tr>
    <td>Юниоры</td>
    <td>400р (с 1 чел)</td>
    <td>400р (с 1 чел)</td>
  </tr>
  <tr>
    <td>Любители</td>
    <td>500р (с 1 чел)</td>
    <td>500р (с 1 чел)</td>
  </tr>
  <tr>
    <td>Синьоры</td>
    <td>500р (с 1 чел)</td>
    <td>500р (с 1 чел) </td>
  </tr>
  <tr>
    <td>Профессионалы и кандидаты в профессионалы</td>
    <td>600р (с 1 чел)</td>
    <td>600р (с 1 чел)</td>
  </tr>

  <tr>
    <td><h1>Не рейтинговые</h1></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Tribal(соло)</td>
    <td>400р (с 1 чел)</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Tribal(группа от 2-х человек)</td>
    <td>300р (с 1 чел)</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Малые группы</td>
    <td>300р (с 1 чел)</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Дуэты</td>
    <td>300р (с 1 чел)</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Фольклор(соло)</td>
    <td>500р (с 1 чел)</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Comedy Bellydance(соло)</td>
    <td>500р (с 1 чел) </td>
    <td>-</td>
  </tr>
  <tr>
    <td>Дебют(соло)</td>
    <td>500р (с 1 чел)</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Шоу(соло)</td>
    <td>500р (с 1 чел)</td>
    <td>-</td>
  </tr>

  <tr>
    <td><h1>Группы</h1></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Ориенталь</td>
    <td>300р (с 1 чел)</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Фольклор</td>
    <td>300р (с 1 чел)</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Шоу Bellydance</td>
    <td>300р (с 1 чел)</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Формейшн</td>
    <td>300р (с 1 чел)</td>
    <td>-</td>
  </tr>

  <tr>
    <td>Мужчины</td>
    <td>500р (с 1 чел)</td>
    <td>-</td>
  </tr>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3"> Вновь заявленные номинации тарифицируются по расценкам соло и групп</td>
  </tr>

  <tr>
    <td><h1>Мастер классы</h1></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>

  <tr>
    <td colspan="3" style="color:red;"><b> Мастер-классы 2-марта в д\к "40 лет октября"(ЦХИ). Для иногородних регистрация на сайте <a href="http://www.bellydanceliga.ru/" target="_blank">www.bellydanceliga.ru</a></b></td>

  </tr>

  <tr>
    <td>Мастер класс Елены Рамазановой "Жесты в арабском танце" <b style="color:red;">начало в 11-00 </b></td>
    <td align="center" colspan="2">1500р*</td>
  </tr>

  <tr>
    <td>Мастер класс Наталии Фадда - "Арабик танго" <b style="color:red;">начало в 13-00</b></td>
    <td align="center" colspan="2">1800р*</td>
  </tr>

  <tr>
    <td colspan="3">*При посещении обоих мастер классов, общая стоимость составит - 3000р</td>
    <!--<td align="center" colspan="2">1500р</td>-->
  </tr>

  <tr>
    <td colspan="3"><h1>Стоимость билетов на гала шоу от 300 до 500руб</h1></td>
  </tr>

  </tbody>
</table>
    </div>