<%
   if params[:article]
     title_tag "Статьи - #{Article.find(params[:article]).name}"
   else
       title_tag "Статьи"
   end

   %>

<% meta_keywords_tag "Статьи" %>
<h1>Статьи</h1>
<% @publications.each do |publication| %>
    <div class="content_body publications">
      <h3><%= link_to publication.title, publication %></h3>
      <%= truncate_html publication.description.html_safe.gsub(/<\/?[^>]*>/, "") , :length => 300, :omission => '...' %>
      Раздел: <%= link_to publication.article.name, publications_path(:article => publication.article.id)  %>
    </div>

<% end %>

<div class='content_body articles'>
  <h3> Категории</h3>
  <ul>
  <% @articles.each do |article| %>
  <li><%= link_to article.name, publications_path(:article => article.id)%></li>
  <% end %>

  </ul>
</div>
