<% title_tag "Статьи" %>

<% meta_keywords_tag "Статьи" %>
<h1>Статьи</h1>
<% @publications.each do |publication| %>
    <div class="content_body">
      <h3><%= link_to publication.title, publication %></h3>
      <%=  publication.description.html_safe %>
      Раздел: <%= link_to publication.article.name, publications_path  %>
    </div>

<% end %>
