<% title_tag "Новости" %>
<% meta_keywords_tag "Новости" %>
<%= @sape.links.html_safe %>
<h1>Новости</h1>
<%#= will_paginate @events %>
<div class="news_content">

<% @events.each do |event| %>
    <div class="content_body">
      <h3><%= event.title %></h3>
      <%=  event.description.html_safe %>

    </div>
<% end %>

</div>
<%#= will_paginate @events %>