<% title_tag "Новости" %>

<% meta_keywords_tag "Новости" %>
<h1>Новости</h1>
<%#= will_paginate @events %>
<div class="news_content">

<% @events.each do |event| %>
    <div class="content_body">
      <h3><%=h event.title %></h3>
      <%= event.description %>

    </div>
<% end %>

</div>
<%#= will_paginate @events %>