<% title_tag "Просмотр альбомов" %>
<% meta_keywords_tag "Просмотр альбомов" %>
<h1>Фотографии - альбомы</h1>
<%= will_paginate @foto_albums %>
<div class="media_content">
<% @foto_albums.each do |foto_album| %>

    <div class="media_item">
      <% if foto_album.fotos.present? %>
      <%= link_to image_tag(foto_album.fotos[rand(foto_album.fotos.count)].foto.url(:preveiw), :title => foto_album.title), foto_album %><br/>
      <% end %>    
      <p><%=h foto_album.title %></p>

    </div>

<% end %>
</div>

<%= will_paginate @foto_albums %>
