<% title_tag "Просмотр альбома" %>
<% meta_keywords_tag "Просмотр альбомов" %>
<h1><%= @foto_album.title %></h1>

<p>

  <%= @foto_album.description %>
</p>


<script type="text/javascript">
  $(document).ready(function() {
    $("#photo_list a").fancybox({
        overlayShow: true,
        overlayOpacity: 0.5,
        zoomSpeedIn: 1500,
        zoomSpeedOut:600
    });
});
</script>


<span class="foto_item">
<% @fotos.each do |foto| %>
    <div id="photo_list">
      <%= link_to image_tag(foto.foto.url(:preveiw)), foto.foto.url(:thumb), :rel=>"fancy-tour", :title => foto.title ,:class => "foto_#{foto.id}"%>

    </div>
<% end %>
</span>

